.Vinyl {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

@media (prefers-reduced-motion: no-preference) {
  .Vinyl-spin {
    animation: Vinyl-spin infinite 20s linear;
  }
}

@keyframes Vinyl-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
